# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# Env files
.env

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Jest
coverage/

# OS
Thumbs.db
Desktop.ini